# AWS Lambda Function URLs
NEXT_PUBLIC_INGEST_URL=https://m36zwulzpxgixyk7rwcqak6gxi0jrkfy.lambda-url.eu-north-1.on.aws/
NEXT_PUBLIC_READ_URL=https://rpqiwlqvclnl3f3y7e4b536nxe0cpubn.lambda-url.eu-north-1.on.aws/
